
@{
    ViewBag.Title = "About";
}

<div class="col-md-8">
    <h1>Our team</h1>
    <div class="row">
        <div class="col-md-4 col-xs-6">
            <a href="#" class="thumbnail thumbnail-staff"><img src="~/Images/Help/jag.jpg" alt="Staff" /></a>
            <h3 class="text-center">Calle</h3>
            <p>Developer</p>
        </div>
        <div class="col-md-4 col-xs-6">
            <a href="#" class="thumbnail thumbnail-staff"><img src="~/Images/Help/richard.jpg" alt="Staff" /></a>
            <h3 class="text-center">Richard</h3>
            <p>Developer</p>
        </div>
        <div class="col-md-4 col-xs-6">
            <a href="#" class="thumbnail thumbnail-staff"><img src="~/Images/Help/alisina.jpg" alt="Staff" /></a>
            <h3 class="text-center">Alisina</h3>
            <p>Developer</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 col-xs-6">
            <a href="#" class="thumbnail thumbnail-staff"><img src="~/Images/Help/omran.jpg" alt="Staff" /></a>
            <h3 class="text-center">Omran</h3>
            <p>Developer</p>
        </div>
        <div class="col-md-4 col-xs-6">
            <a href="#" class="thumbnail thumbnail-staff"><img src="~/Images/Help/kim.jpg" alt="Staff" /></a>
            <h3 class="text-center">Kim Sandin</h3>
            <p>Developer</p>
        </div>
        <div class="col-md-4 col-xs-6">
            <a href="#" class="thumbnail thumbnail-staff"><img src="~/Images/Help/anette.png" alt="Staff" /></a>
            <h3 class="text-center">Anette</h3>
            <p>Test</p>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-4 col-xs-6">
            <a href="#" class="thumbnail thumbnail-staff"><img src="~/Images/Help/alex.png" alt="Staff" /></a>
            <h3 class="text-center">Alex</h3>
            <p>Test</p>
        </div>
        <div class="col-md-4 col-xs-6">
            <a href="#" class="thumbnail thumbnail-staff"><img src="~/Images/Other/noprofilepicture.jpg" alt="Staff" /></a>
            <h3 class="text-center">Claire</h3>
            <p>Test§                                                                                                                </p>
        </div>
    </div>
</div>

