
@{
    ViewBag.Title = "SendEmailError";
}

<h2>Sorry, Something went wrong when trying to send your support request</h2>

<b>Check your inputs and try again!</b>

Error message: @ViewBag.ErrorMessage 
